@import 'tailwindcss';

@theme inline {
  --color-background: #FEF5E6;
  --color-foreground: #326371;
  --color-card: #DAEEE3;
  --color-card-foreground: #326371;
  --color-primary: #326371;
  --color-primary-foreground: #FEF5E6;
  --color-secondary: #DAEEE3;
  --color-secondary-foreground: #326371;
  --color-muted: #e8f4ec;
  --color-muted-foreground: #326371;
  --color-accent: #E971C8;
  --color-accent-foreground: #326371;
  --color-border: #d9c9b8;
  --color-ring: #326371;
  --radius: 1rem;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FEF8F0;
  color: #1A1214;
  font-family: 'DM Sans', sans-serif;
}
